body
    background:#f8f8f8

.div-map
    height: 80vh

agm-map 
    height:  100%

.rm-padding
    padding: 0px !important

.rm-padding-right
    padding-right: 0px !important

.gm-style div[aria-hidden="true"]
    background-color: white !important
    padding: 5px
    border-radius: 5px

.map 
    color: black
 