<div class="container">
  <div class="container">
    <h1 class="display-6 text-center p-3">Power Plants</h1>
    
    <div class="row shadow p-3 mb-5 rm-padding">
      <div class="col-md-3">
        <div class="card-body">
          <div class="row">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="changeSidePanel('TOP')">
              <label class="btn btn-outline-success" for="btnradio1">Top Plants</label>
            
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="changeSidePanel('SEARCH')">
              <label class="btn btn-outline-success" for="btnradio2">Search</label>
            </div>

            <div class=".text-center mt-3">
              <div *ngIf="topSearch">
                <figure class="text-center">
                  <blockquote class="blockquote">
                    <p>Top 5 power plants in US by net generation</p>
                  </blockquote>
                  
                  <figcaption class="blockquote-footer">
                    <cite title="Source Title">United States EPA</cite>
                  </figcaption>
                </figure>
              </div>
  
              <div *ngIf="!topSearch">
                <figure class="text-center  mt-2">
                  <blockquote class="blockquote">
                    <p>Search power plant by all or any specific state</p>
                  </blockquote>
                </figure>

                <select formControlName="website" class="form-control mt-2" (change)="changeState($event)">
                  <option value="">All States</option>
                  <option *ngFor="let state of statesList" value="{{state.symbol}}">{{state.title}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-9 rm-padding-right div-map">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" >
            <agm-marker  *ngFor="let m of powerPlants; let i = index" [latitude]="parse(m.Lat)" [longitude]="parse(m.Long)" [label]="m.name"
              
              (markerClick)="clickedMarker(m.name, i)" >
              
              <agm-info-window [disableAutoPan]="true">
                <h4>{{m.name}}</h4>
                <h6>{{m.state_symbol}}</h6>
                <p>Net Generation {{m.net_generation}}kwh</p>
                <p>Percentage {{m.net_percentage}}%</p>
              </agm-info-window>
            </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>